# ===== Python =====
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/

# ===== Model weights / checkpoints =====
checkpoints/
*.pth
*.pt
*.h5
*.onnx

# ===== Dataset =====
dataset_acne04_folds/
Classification/


# ===== Output folders =====
eda_outputs/
eval_outputs/
gradcam_outputs/
reports/
# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Logs =====
*.log
runs/
logs/

# ===== OS / Editor =====
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp